<ion-content [fullscreen]="true" color="primary">
  <div class="h-screen">
    <div class="flex justify-between items-center px-5 h-[10%]">
      <div class="text-white uppercase">Historiques</div>
      <div class="flex items-center">
        <ion-button class="" fill="clear" routerLink="/wishlist">
          <ion-icon slot="icon-only" src="assets/Love 2.svg"></ion-icon>
        </ion-button>
        <ion-button class="" fill="clear">
          <ion-icon slot="icon-only" src="assets/Cart.svg"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="bg-[#cecece] h-[90%]">
      <div class="flex justify-start items-center my-10 space-x-3 pl-5">
        <ion-text class="font-semibold text-black text-xl">Transactions</ion-text>
        <ion-text class="bg-green-100 text-black flex justify-center items-center rounded-xl p-1.5">21 Mars 2023</ion-text>
      </div>
      <div class="space-y-2">
        <div class="bg-white px-5 flex justify-between items-center">
          <div class="flex items-center space-x-3">
            <div class="w-10 h-10 border-[1px] border-gray-300 rounded-lg">
              <ion-img src="assets/image2.jpg"></ion-img>
            </div>
            <div class="text-[#222] flex flex-col items-start space-y-2">
              <ion-text class="">Moteur</ion-text>
              <ion-text class="">1000 Fcfa</ion-text>
            </div>
          </div>
          <div class="rounded-2xl flex justify-center items-center p-2 bg-green-600">Livre</div>
        </div>
        <div class="bg-white px-5 flex justify-between items-center">
          <div class="flex items-center space-x-3">
            <div class="w-10 h-10 border-[1px] border-gray-300 rounded-lg">
              <ion-img src="assets/image2.jpg"></ion-img>
            </div>
            <div class="text-[#222] flex flex-col items-start space-y-2">
              <ion-text class="">Moteur</ion-text>
              <ion-text class="">1000 Fcfa</ion-text>
            </div>
          </div>
          <div class="rounded-2xl flex justify-center items-center p-2 border-green-600 border-[1px] text-green-600">En cours</div>
        </div>
        <div class="bg-white px-5 flex justify-between items-center">
          <div class="flex items-center space-x-3">
            <div class="w-10 h-10 border-[1px] border-gray-300 rounded-lg">
              <ion-img src="assets/image2.jpg"></ion-img>
            </div>
            <div class="text-[#222] flex flex-col items-start space-y-2">
              <ion-text class="">Moteur</ion-text>
              <ion-text class="">1000 Fcfa</ion-text>
            </div>
          </div>
          <div class="rounded-2xl flex justify-center items-center p-2 border-green-600 border-[1px] text-green-600">Payé</div>
        </div>
        <div class="bg-white px-5 flex justify-between items-center">
          <div class="flex items-center space-x-3">
            <div class="w-10 h-10 border-[1px] border-gray-300 rounded-lg">
              <ion-img src="assets/image2.jpg"></ion-img>
            </div>
            <div class="text-[#222] flex flex-col items-start space-y-2">
              <ion-text class="">Moteur</ion-text>
              <ion-text class="">1000 Fcfa</ion-text>
            </div>
          </div>
          <div class="rounded-2xl flex justify-center items-center p-2 border-green-600 border-[1px] text-green-600">En cours</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
