<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="changeIcon(homeTab, 'assets/home-active.svg')">
      <ion-icon aria-hidden="true" src="assets/home.svg" #homeTab></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historique" (click)="changeIcon(historiqueTab, 'assets/order-active.svg')">
      <ion-icon aria-hidden="true" src="assets/order.svg" #historiqueTab></ion-icon>
      <ion-label>Historique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon aria-hidden="true" src="assets/profile.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
