<ion-content [fullscreen]="true" color="light">
  <div class="">
    <div class="relative">
      <ion-img class="w-screen h-64" src="assets/image1.svg"></ion-img>
      <div class="flex justify-between items-center px-5 absolute top-5 w-full">
        <button class="bg-white bg-opacity-40 rounded-full flex justify-center items-center w-10 h-10" (click)="back()">
          <ion-icon slot="icon-only" class="w-10" src="assets/Back.svg"></ion-icon>
        </button>
        <div class="flex items-center space-x-2">
          <button class="bg-white bg-opacity-40 rounded-full flex justify-center items-center w-10 h-10">
            <ion-icon slot="icon-only" class="w-10" src="assets/Share.svg"></ion-icon>
          </button>
          <button class="bg-white bg-opacity-40 rounded-full flex justify-center items-center w-10 h-10">
            <ion-icon slot="icon-only" class="w-10" src="assets/Love 1.svg"></ion-icon>
          </button>
          <button class="bg-white bg-opacity-40 rounded-full flex justify-center items-center w-10 h-10">
            <ion-icon slot="icon-only" class="w-10" src="assets/More.svg"></ion-icon>
          </button>
        </div>
      </div>
      <div class="bg-white w-screen flex flex-col items-start pl-3 space-y-2 py-3">
        <ion-text class="font-semibold">Moteur</ion-text>
        <ion-text color="primary" class="">1200 F</ion-text>
      </div>
    </div>
    <div class="my-5 p-5 bg-white">
      <div class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolore qui nam veritatis ex est illum, optio quo laborum accusantium. Quas nesciunt quod accusamus accusantium eveniet deserunt autem, ipsa asperiores iusto explicabo animi fugiat, quam reiciendis! Odio ullam nam commodi facere saepe. Nemo, tenetur. Quod alias culpa quo, voluptatem nobis veritatis ratione corrupti ullam repellendus quis quasi odio magnam assumenda adipisci quia dolore, eius obcaecati autem consequuntur tempore! Ipsam consequuntur aperiam illo adipisci dicta soluta, animi expedita praesentium veniam veritatis doloribus sed fugiat ipsum consequatur error dolore? Similique labore minus inventore aliquam in quo! Facilis sit totam ad voluptates maiores?</div>
    </div>
    <div class="flex justify-center items-center">
      <ion-row class="">
        <ion-col size="5" class="">
          <ion-button fill="outline">acheter</ion-button>
        </ion-col>
        <ion-col size="7" class="">
          <ion-button>ajouter au panier</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
