<ion-content [fullscreen]="true" color="primary">
  <div class="">
    <div class="flex justify-between items-center px-5">
      <div class="text-white uppercase">Lipa MULTISERVICES</div>
      <div class="flex items-center">
        <ion-button class="" fill="clear" routerLink="/wishlist">
          <ion-icon slot="icon-only" src="assets/Love 2.svg"></ion-icon>
        </ion-button>
        <ion-button class="" fill="clear">
          <ion-icon slot="icon-only" src="assets/Cart.svg"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="">
      <ion-searchbar color="light"></ion-searchbar>
    </div>
    <div class="bg-[#cecece] p-5 my-5">
      <div class="mb-4">
        <div class="flex justify-between items-center">
          <ion-text class="">Nos pieces de rechanges</ion-text>
          <ion-button shape="round" class="" routerLink="/details">Voir tout</ion-button>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div class="border-[1px] border-white rounded-lg" routerLink="/detail">
          <ion-img src="assets/photo.svg"></ion-img>
          <div class="p-2 bg-white">
            <div class="text-gray-600 mb-2">Moteur</div>
            <div class="flex justify-between items-center">
              <div class="flex items-center">
                <ion-avatar>
                  <img src="assets/avatar2.svg" alt="" class="w-10">
                </ion-avatar>
                <ion-text class="text-gray-600 text-sm">Tradly</ion-text>
              </div>
              <ion-text color="primary" class="text-sm">1000 F</ion-text>
            </div>
          </div>
        </div>
        <div class="border-[1px] border-white rounded-lg" routerLink="/detail">
          <ion-img src="assets/photo.svg"></ion-img>
          <div class="p-2 bg-white">
            <div class="text-gray-600 mb-2">Moteur</div>
            <div class="flex justify-between items-center">
              <div class="flex items-center">
                <ion-avatar>
                  <img src="assets/avatar2.svg" alt="" class="w-10">
                </ion-avatar>
                <ion-text class="text-gray-600 text-sm">Tradly</ion-text>
              </div>
              <ion-text color="primary" class="text-sm">1000 F</ion-text>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-[#cecece] p-5">
      <div class="mb-4">
        <div class="flex justify-between items-center">
          <ion-text class="">Nos services</ion-text>
          <ion-button shape="round" class="" routerLink="/details">Voir tout</ion-button>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div class="border-[1px] border-white rounded-lg" routerLink="/detail">
          <ion-img src="assets/photo.svg"></ion-img>
          <div class="p-2 bg-white">
            <div class="text-gray-600 mb-2">Moteur</div>
            <div class="flex justify-between items-center">
              <div class="flex items-center">
                <ion-avatar>
                  <img src="assets/avatar2.svg" alt="" class="w-10">
                </ion-avatar>
                <ion-text class="text-gray-600 text-sm">Tradly</ion-text>
              </div>
              <ion-text color="primary" class="text-sm">1000 F</ion-text>
            </div>
          </div>
        </div>
        <div class="border-[1px] border-white rounded-lg" routerLink="/detail">
          <ion-img src="assets/photo.svg"></ion-img>
          <div class="p-2 bg-white">
            <div class="text-gray-600 mb-2">Moteur</div>
            <div class="flex justify-between items-center">
              <div class="flex items-center">
                <ion-avatar>
                  <img src="assets/avatar2.svg" alt="" class="w-10">
                </ion-avatar>
                <ion-text class="text-gray-600 text-sm">Tradly</ion-text>
              </div>
              <ion-text color="primary" class="text-sm">1000 F</ion-text>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>